<IfModule mod_headers.c>
    <FilesMatch "\.(vtt)$">
        Header always set Access-Control-Allow-Origin "*"
        Header always set Access-Control-Allow-Methods "GET, OPTIONS"
        Header always set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"
    </FilesMatch>
</IfModule>

# đảm bảo MIME type đúng
AddType text/vtt .vtt